scripts/nohup.out
scripts/permissioned-nodes.json
go1*
data/keys
go-ethereum
scripts/go
scripts/wrk
scripts/tls*
fabric8-analytics.log
.idea
docker/config
docker/general/alastria
docker/bootnode/alastria
docker/validator/alastria
